title {
    
    color: black;
    font-weight: bold;
    background: grey;
    border: 1px solid black ;
    padding: 10px;
    margin-left: 10px;
}

h1 {

    color: black;
    background: grey;
    border: 1px solid black ;
    padding: 10px;
    margin-left: 10px;

}

h2 {

    color: black;
    background: grey;
    border: 1px solid black ;
    padding: 10px;
    margin-left: 10px;

}